.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently */
}

body {
    background-color: 	rgb(13, 13, 13);
    overflow: hidden;
}

span {
    display: inline-block;
}

.codeLine {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    width: 99% ;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
}

.codeLine:hover{
    border-top: 1px solid 	rgb(45, 45, 45);
    border-bottom: 1px solid 	rgb(45, 45, 45);
    background-color: rgb(10, 10, 10);
}

.type, .typeSlow, .typeSlowest{
    display:inline-block;
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.lineNumber {
    color: lightgrey;
    font-size: 24px;
    vertical-align: top;
}

.funcType{color:rgb(163, 41, 163);}
.funcParams {color:rgb(255, 102, 51);}
.funcName {color:rgb(102, 153, 255);}
.objectName {color:	rgb(255, 214, 51);}
.varName {color: rgb(128, 255, 128);}
.speechMarks {color:rgb(191, 128, 255);}
.comment {color:rgb(38, 217, 38);}

.ide {
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    font-weight: bolder;
    color: lightgray;
}

.pointer {cursor: pointer;}
.pointer:hover{filter: brightness(2);}

#loading {
    position: absolute;
    display:none;
    z-index: 6;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#nameDiv {
    position: absolute;
    left: 16px;
    font-weight: lighter;
    color: white;
}

#name {
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#aboutMe, #education, #projects,#pastWork{
    position: absolute;
    z-index: 1;
    display:none;
    top: 70px;
    width: 100vw;
    height: 789px;
    overflow: hidden;
    white-space: nowrap;
    transform: scale(0.9); 
}

#aboutHidden{display:none;}
#linksHidden {display: none;}
#insideLinks{display:none;}

#education, #projects, #pastWork{
    text-align: center;
}

.scrollMore {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    display:none;
}

