@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

.dark body {
  background-image: url("/dark-bg.jpg");
}

/* https://github.com/radix-ui/primitives/issues/1496
stops the scrollbar from shifting the page when using radix selects.

it leaves an empty space where the scrollbar would be, but its better than jumping content */
html {
  scrollbar-gutter: stable;
}
html body[data-scroll-locked] {
  --removed-body-scroll-bar-size: 0 !important;
  margin-right: 0 !important;
}

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("/light-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  pointer-events: none;
}

@media (max-width: 768px), (hover: none) and (pointer: coarse) {
  body::before {
    position: absolute;
    height: 100%;
    width: 100%;
    background-attachment: scroll;
    background-image: url("/light-bg-mob-2.png");
  }
  .dark body::before {
    background-image: url("/dark-bg-mob.jpg");
  }
}

.dark body::before {
  background-image: url("/dark-bg.jpg");
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground p-0;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.rainbow-border-bottom {
  background: none;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    height: 800%;
  }

  &::before {
    background-color: var(--background, canvas);
    z-index: -1;
  }

  &::after {
    background: conic-gradient(
      from var(--angle),
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
    filter: blur(6px);
    opacity: 0.7;
    z-index: -2;
    animation: rainbow-move 15s linear infinite,
      force-repaint 1s linear infinite;
  }
}

/* this is purely just to force safari to render the animations, sigh */
@keyframes force-repaint {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.99;
  }
}

@keyframes rainbow-move {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.rainbow-border {
  background: none;
  border-radius: 8px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    width: 100%;
    border-radius: inherit;
    background: conic-gradient(
      from var(--angle),
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    );
    pointer-events: none;
    height: 100%;
    z-index: -1;
    /*animation: rainbow-move 15s linear infinite;*/
    filter: blur(6px);
    opacity: 0.7;
  }
}

.rainbow-inner {
  background: var(--background, canvas);
}

@supports not (backdrop-filter: blur(15px)) {
  .glass {
    background: color-mix(in oklch, var(--color-card), transparent 20%);
  }
}

.glass-bottom-border-only {
  overflow: hidden;
  /* inset: 0;  Removed to allow text selection */
  background: color-mix(in oklch, var(--color-card), transparent 85%);
  backdrop-filter: blur(15px);
  position: relative;
  z-index: 0;
}

.glass-bottom-border-only::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-mask: linear-gradient(to bottom, transparent 98%, #fff 98% 100%);
  mask: linear-gradient(to bottom, transparent 98%, #fff 98% 100%);
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  z-index: 1;
  filter: blur(10px);
  opacity: 0.7;
  pointer-events: none;
}

.glass {
  overflow: hidden;
  background: color-mix(in oklch, var(--color-card), transparent 90%);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  position: relative;
  z-index: 0;
}

.glass::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: conic-gradient(
    from var(--angle, 0deg),
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  filter: blur(10px);
  opacity: 0.7;
  pointer-events: none;
}

.logo-img-bg {
  background: color-mix(in oklch, var(--foreground), transparent 95%);
}

.scale-up-fancy-on-hover {
  transition: transform 0.3s cubic-bezier(0.175, 1, 0.3, 1.6);
}
.scale-up-fancy-on-hover:hover {
  transform: scale(1.025);
}

.scale-up-fancy-on-hover-larger {
  transition: transform 0.3s cubic-bezier(0.175, 1, 0.3, 1.6);
}
.scale-up-fancy-on-hover-larger:hover {
  transform: scale(1.1);
}

.scale-up-fancy-on-hover-xl {
  transition: transform 0.3s cubic-bezier(0.175, 1, 0.3, 1.6);
}
.scale-up-fancy-on-hover-xl:hover {
  transform: scale(1.2);
}

.tracking-in-contract {
  animation: tracking-in-contract 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.puff-in-top {
  animation: puff-in-top 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes puff-in-top {
  0% {
    transform: scale(2);
    transform-origin: 50% 0%;
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
    filter: blur(0px);
    opacity: 1;
  }
}

/* @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro); */

.cursor {
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: visible;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  transform: translateY(-50%);
}

.typewriter-animation {
  /* font-family: "Anonymous Pro", monospace; */
  animation: typewriter 1s steps(14) 2s 1 normal both,
    blinkingCursor 1s steps(30) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkingCursor {
  from {
    border-right-color: color-mix(in oklch, var(--foreground), transparent 50%);
  }
  to {
    border-right-color: transparent;
  }
}

.wave {
  animation: wave-hand 1.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
